<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unity</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
  <div>
      <h5>The Gaurdian World News</h5>
      <ul >
          {% for link in urls7%}
              <li>
                  <a  href="{{ link }}">{{texts7[urls7.index(link)]}}</a>
              </li>
          {% endfor %}
      </ul>
  </div>
  <div>
    <h5>The BBC World News</h5>
    <ul >
        {% for link in urls4%}
            <li>
                <a  href="{{ link }}">{{texts4[urls4.index(link)]}}</a>
            </li>
        {% endfor %}
    </ul>
</div>
  <div>
      <h4>The Gaurdian Technology News</h4>
      <ul >
          {% for link in urls1%}
              <li>
                  <a  href="{{ link }}">{{texts1[urls1.index(link)]}}</a>
              </li>
          {% endfor %}
      </ul>
 </div>
 <div>
    <h4>The BBC Technology News</h4>
    <ul >
        {% for link in urls5%}
            <li>
                <a  href="{{ link }}">{{texts5[urls5.index(link)]}}</a>
            </li>
        {% endfor %}
    </ul>
</div>
 <div>
      <h4>The Gaurdian Science News</h4>
      <ul >
          {% for link in urls2%}
              <li>
                  <a  href="{{ link }}">{{texts2[urls2.index(link)]}}</a>
              </li>
          {% endfor %}
      </ul>
 </div>
 <div>
    <h4>The BBC Science News</h4>
    <ul >
        {% for link in urls6%}
            <li>
                <a  href="{{ link }}">{{texts6[urls6.index(link)]}}</a>
            </li>
        {% endfor %}
    </ul>
</div>
 <div>
    <h4>The Gaurdian  Environment</h4>
    <ul >
        {% for link in urls3%}
            <li>
                <a  href="{{ link }}">{{texts3[urls3.index(link)]}}</a>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
